<?xml version='1.0' encoding='utf-8'?>
<plugin id="myId" version="0.1" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>TemplatePlugin</name>
    <js-module name="TemplatePlugin" src="www/TemplatePlugin.js">
        <clobbers target="cordova.plugins.TemplatePlugin" />
    </js-module>
    <hook type="after_plugin_install" src="scripts/trapeze.js" />
    <hook type="before_build" src="scripts/trapeze.js" />
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="TemplatePlugin">
                <param name="android-package" value="myId.TemplatePlugin" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/TemplatePlugin.java" target-dir="src/myId/TemplatePlugin" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="TemplatePlugin">
                <param name="ios-package" value="TemplatePlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/TemplatePlugin.m" />
    </platform>
</plugin>